* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body {
  font-size: 120%;
  width: 100vw;
}
#totalTime{
    text-align: center;
}

#navbar{
    margin-right: 16px;
    display: flex;
    flex-direction :    row-reverse;
    font-size: 10px;
}
div#navbar img {
    width: 31px;
    height: 31px;
    margin: 10px;
}
.logo{
  margin: 2% auto; 
}
  /*==========================================SOUND ICON====================================*/
  #wave_1, #wave_2 {
    stroke-dasharray: 46; 
    stroke-dashoffset: -45;
  }
  
  .sound-icon {
   margin: 10px;
  }
  .sound {
    animation:sound 1.3s linear; 
    animation-fill-mode:forwards;
  } 
  
  .wave_1{
   animation:wave_1 0.5s linear;
   animation-fill-mode:forwards;
  } 
  .wave_2{ 
    animation:wave_2 0.5s linear;
   animation-fill-mode:forwards;
  } 
  .close_top {
    stroke-dasharray:46;
    stroke-dashoffset: -46; 
  }
  .close_top_cliked {
    animation:close_top 1.3s linear;
    animation-fill-mode:forwards;
  }
  
  .sound_cliked{
   animation:sound_cliked 1.3s linear;
   animation-fill-mode:forwards; 
  }
  
  .wave_1_cliked {
   animation:wave_1_cliked 1.3s linear;
   animation-fill-mode:forwards;
  }
  
  .wave_2_cliked {
   animation:wave_2_cliked 1.3s linear;
   animation-fill-mode:forwards;
  } 
  
  
  
  @keyframes sound_cliked {
    0% {stroke-dasharray: 302; stroke-dashoffset: 0;}
    50% {stroke-dasharray: 302; stroke-dashoffset: 0;}
    90%{ stroke-dasharray: 227; stroke-dashoffset: -28;}
    100%{ stroke-dasharray: 240; stroke-dashoffset: -20;}
  } 
  @keyframes sound {
    0%{ stroke-dasharray: 240; stroke-dashoffset: -20;}
    30%{ stroke-dasharray: 240; stroke-dashoffset: -20;}
    60% {stroke-dasharray: 302; stroke-dashoffset: 0;}
    100% {stroke-dasharray: 302; stroke-dashoffset: 0;}
  }  
   
  @keyframes wave_1_cliked { 
    0%{ stroke-dasharray: 46; stroke-dashoffset: -45;} 
    20%{ stroke-dasharray: 60; stroke-dashoffset: -60;}   
    40%{ stroke-dasharray: 46; stroke-dashoffset: -45;}
    60%{ stroke-dasharray: 60; stroke-dashoffset: -60;}
    70% {stroke-dasharray: 49; stroke-dashoffset: 15;}
    95% {stroke-dasharray: 55; stroke-dashoffset: 25;}  
    100% {stroke-dasharray: 46; stroke-dashoffset: 12;}    
  }    
  @keyframes wave_1 {  
    0% {stroke-dasharray: 46; stroke-dashoffset: 12;}
    20% {stroke-dasharray: 46; stroke-dashoffset: 12;}
    70% {stroke-dasharray: 55; stroke-dashoffset: 25;}
    80%{ stroke-dasharray: 46; stroke-dashoffset: -45;}
    90%{ stroke-dasharray: 60; stroke-dashoffset: -60;} 
    100%{ stroke-dasharray: 46; stroke-dashoffset: -45;} 
  } 
  
  @keyframes wave_2_cliked {
    0%{ stroke-dasharray: 60; stroke-dashoffset: -45;}
    20%{ stroke-dasharray: 60; stroke-dashoffset: -60;} 
    40%{ stroke-dasharray: 60; stroke-dashoffset: -45;} 
    60%{ stroke-dasharray: 60; stroke-dashoffset: -60;} 
    70%{ stroke-dasharray: 45; stroke-dashoffset: -45;} 
    75% {stroke-dasharray: 115; stroke-dashoffset: 90;}  
    80% {stroke-dasharray: 115; stroke-dashoffset: 115;} 
    100% {stroke-dasharray: 115; stroke-dashoffset: 115;}  
  } 
    
  @keyframes wave_2{
    0% {stroke-dasharray: 115; stroke-dashoffset: 115;}
    30% {stroke-dasharray: 115; stroke-dashoffset: 115;}
    40% {stroke-dasharray: 115; stroke-dashoffset: 90;}
    70% {stroke-dasharray: 115; stroke-dashoffset: 90;}
    75%{ stroke-dasharray: 45; stroke-dashoffset: -45;} 
    100%{stroke-dasharray: 56; stroke-dashoffset: -50;}
  }
  @keyframes close_top { 
    0%{stroke-dasharray: 115; stroke-dashoffset: -45;}
    89%{stroke-dasharray: 115; stroke-dashoffset: -45;}
    90%{ stroke-dasharray: 16; stroke-dashoffset: -16;}
    100%{stroke-dasharray: 100; stroke-dashoffset: 0;}
  } 